body {
    background-color: black;
}


@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}

.navi {
	position: absolute-center;
    color: white;
    text-align: center;
    font-family: "font-one"
}
#searchB{
		position: absolute-center;
    text-align: center;

}

 
/*


.navi {
    font-family: "Name of your font";
}*/


body {
   background-image: url("images/wall1.jpg");
  background-repeat:no-repeat;
background-size:cover;
  background-attachment: fixed;
  background-position: center center;
max-width: 100%;



}


.image {


    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotateY(360deg); } }

body {margin:0;}
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav b {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FAFAFA;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.x{    font-size: 17px;
  position: absolute;
	color: #FAFAFA;

}

 #section1 {

padding-top:50px;
height:500px;
 background-color: #333;
 position: absolute;
    width: 100%;
    left: 0;right: 0;
}



 #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}


#imgH1:hover {
	transform: scale(1.1);
    opacity: 0.3;

  -webkit-transition: opacity 700ms;
  -moz-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  transition: opacity 700ms;}



  .img-rounded {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

