


@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}

.navi {
	position: absolute-center;
    color: white;
    text-align: center;
    font-family: "font-one"
}


 
/*


.navi {
    font-family: "Name of your font";
}*/


body {
    background: url("images/wall1.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}




#section1 #myS{
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;

}
font-family: 'Great Vibes', cursive;








.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav b {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FAFAFA;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#section1 #ss{
    font-size: 35px;
font-family: 'Open Sans Condensed', sans-serif;

}


#section1 #xxx{
  font-size: 20px;

}

#section1 #fancy{
  font-size: 35px;
font-family: 'Great Vibes', cursive;

}
 #section1 {
text-align: center;
padding-top:0px;
height:1000px;
 background-color: #fffced;
 position: absolute;
 margin-top: 700px;
    width: 100%;
    left: 0;right: 0;
}




