


@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}

.navi {
	position: absolute-center;
    color: white;
    text-align: center;
    font-family: "font-one"
}
#searchB{
		position: absolute-center;
    text-align: center;

}

 
/*


.navi {
    font-family: "Name of your font";
}*/


body {
    background: url("images/wall1.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


.image {


    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotateY(360deg); } }

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 320px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 320px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 320px;
  left: 0;
  position: absolute;
  top: 0;
  width: 320px;
  opacity: 0;
  -webkit-transition: opacity 700ms;
  -moz-transition: opacity 700ms;
  -o-transition: opacity 700ms;
  transition: opacity 700ms;
}

span.text-content #theT{
	opacity: 0.6;
font-family: 'Clicker Script', cursive;
	font-size: 100px;
}

ul.img-list li:hover span.text-content {
  opacity: 1;

}

ul.img-list li:hover {
		transform: scale(1.1);

}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FAFAFA;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.x{    font-size: 17px;
  position: absolute;
	color: #FAFAFA;

}

 #section1 {

padding-top:50px;
height:500px;
 background-color: #333;
 position: absolute;
    width: 100%;
    left: 0;right: 0;
    margin-top: 350px
}

.work{

padding-top:200px;
 position: absolute;
 font-size: 20px;
    left: 0;right: 0;
   margin:0 auto;
       margin-top: 550px;

    text-align: justify;
    width: 320px;
    text-align: center;
    color: #f6f7ef

}


  .img-rounded {
    display: block;
    margin:0 auto;
 }



