body {
    background-color: black;
}


@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}

.navi {
	position: absolute-center;
    color: white;
    text-align: center;
    font-family: "font-one"}
/*


.navi {
    font-family: "Name of your font";
}*/


body {
   background-image: url("images/wall1.jpg");
  background-repeat:no-repeat;
background-size:cover;
  background-attachment: fixed;
  background-position: center center;



}
.backroung-image{

}

.image {
 
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotateY(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotateY(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotateY(360deg); } }

body {margin:0;}
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav b {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #FAFAFA;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}




