

/*body {
    background: url("images/wall1.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}*/
@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}

#bgd .col-md-12{
    background: url("images/rsz_1rsz_1walle1.jpg");
        background-repeat: no-repeat;
    background-position: center; 
    height: 300px;


}


.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 120px;
    width: 100%;
    font-family: "font-one";
    font-size: 250%;
        color: #FAFAFA;



}

.first-letter {
    display: inline;
    font-size: 250%;
    color: black;
}


#about-me .col-md-12{
    background-color: #ffffff;
  height: 100px;

}

#story .col-md-12{
    margin-top: 30px;

    background-color: #ffffff;
  height: 500px;

}

#texti{margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
margin-bottom: 20px;
}

#textiB{

margin-bottom: 20px;
    max-width: 100%;
    height: 100%;


}



#about-me .text_about {
    height: 100px
  padding-top: 35px;

    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 350%;
    color: #000000;
    text-align:center;
    font-family: "font-one";
    border-bottom: 0.5px solid

}

#story .story_text{
    line-height: 200%;
    font-size: 120%;
    text-align: justify;
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
    font-family: "font-one";
    background-color: #ffffff;
  height: 100px;

}




@media screen and (min-width: 0px) and (max-width: 400px) {
  .social #my-content { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
 .social #my-content { display: none; }   /* hide it elsewhere */
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #b51010;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #b51010;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #333;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    border-bottom: 1px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {background-color: #333}

.dropdown:hover .dropdown-content {
    display: block;
}

ul.right li a {font-size: 1.3rem;}

.right { float:right;  clear:right }

