<style>@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}


#section01 {
  position: relative;
  width: 100%;
  height: 100%;
}

#section02 { 
  position: relative;
  width: 100%;
  height: 100%;
}
#section03 {
  position: relative;
  width: 100%;
  min-height: 1250px;
}
#section01::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.4) 95%,rgba(0,0,0,.8) 100%);
}


#section01 { background: url(images/imagea.png) center center / cover no-repeat;}


#thanks {
  background-color: #fff;
}
#thanks::after {
  content: none;
}
#thanks div {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
#thanks h2 {
  margin-bottom: 60px;
  color: #333;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}
#thanks p {
  color: #333;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
}
#thanks p .AboutMe1 {
  color: #333;
  text-decoration: none;
  transition: color .3s;
}
#thanks p .AboutMe1:hover {
  color: #888;
}
.demo .AboutMe1 {
  position: absolute;
  bottom: 20px;
  left: 48%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: white;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo .AboutMe1:hover{
  opacity: .5;
  color: red;
}

.demo  .AboutMe2:hover {
  opacity: .5;
  color: red;
}

#section01 .AboutMe:hover 
{
  opacity: 1;
  color: white;

}

#section01 .Stories:hover
{
    opacity: 1;
  color: white;
}

.demo .AboutMe2 {
  position: absolute;
  bottom: 20px;
  right:  2%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: black;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}


#section01 .AboutMe1 {
  padding-top: 60px;

}
#section01 .AboutMe1 span {
  position: absolute;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;  
  right: 0;  
  width: 24px;
  height: 24px;
  border-left: 5px solid #fff;
  border-bottom: 5px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}



#section02 a {
  padding-top: 60px;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}




body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@font-face {
  font-family: 'MyWebFont';
  src: url('webfont.eot'); /* IE9 Compat Modes */
  src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff') format('woff'), /* Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.Mp {
  font-family: 'Love Ya Like A Sister'.serif;
  font-size: 10.4vw;
  color: bk;
  position: absolute;
  bottom: 10px;
  right: 5px;
}



.by {
  font-family: 'Love Ya Like A Sister'.serif;
  font-size: 5.4vw;
  color: black;
  display: fixed;
  position: absolute;
  bottom: 10px;
  right: 10%;
}








@font-face {
        font-family: "font-one";
        src: url(times.regular.tff);
}




.bgd-text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 100px;
    width: 100%;
    font-family: "font-one";
    font-size: 250%;
        color: #FAFAFA;



}





@media screen and (min-width: 0px) and (max-width: 400px) {
  .social #my-content { display: block; }  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 1024px) {
 .social #my-content { display: none; }   /* hide it elsewhere */
}

.AboutMe {
  font-size: 3vh;
  color: black;
  position: absolute;
  top: 20px;
  right: 20%;
        border-width: 2px;
  border-bottom-style: solid;
}


@media (max-width: 640px) 
{
    .AboutMe
    {
        display: none;
    }

     .Stories
    {
        display: none;
    }
}

.Stories {
  border-width: 2px;
  border-bottom-style: solid;
  font-size: 3vh;
  color: black;
  position: absolute;
  top: 20px;
  right: 40px;
}

.Title {
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  width: 10vw;
  height: 10vh;
  min-width: 190px; 
  max-width: 200px; 

  border-width: 2px;
  border-style: solid;
  font-size: 3.5vh;
  color: black;
  position: absolute;
  top: 18px;
  left: 3%;
}

#section01 .Title:hover
{
  background-color: #fff;
}





#section02 .fam
{
    display: block;
    width: 55%;
    margin-top: 150px;
    margin-left: 200px;
    border-left: 1px solid;
    border-bottom: 0.1px solid;
    padding-left: 100px;
    padding-bottom:  50px;
    min-width: 50%;

   opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
 
}

  #section02 .fam:hover
  {
        opacity: 0.5;
  }

#section02 p
{
  text-align: center;
margin-left: 200px;
  margin-left: 13%;
  padding-top: 15px;

}



/* Container holding the image and the text */

.text_about {
    height: 100px
  padding-top: 35px;

    max-width:1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 350%;
    color: #000000;
    text-align:center;
    font-family: "font-one";
    border-bottom: 0.5px solid

}

 .story_text{ 

    padding-right: 30px;
    padding-left: 30px;
    line-height: 200%;
    font-size: 120%;
    text-align: justify;
    max-width:900px;
    margin-left: auto;
    margin-right: auto;
    font-family: "font-one";
    background-color: #ffffff;
  height: 100px;

}


.text {
    left: 0;
    position:absolute;
    text-align:center;
    top: 140px;
    width: 100%;
    font-family: "font-one";
    font-size: 4vw;
        color: #FAFAFA;

}

@media (max-width: 640px) 
{
   
     .text
    {
        top: 40px;
    }
}

